/* CSS for heading and image */
h1 {
    text-align: center;
    font-size: 40px;
    font-family: Candara, Oswald;
  }
  
  img {
    display: block;
    margin:  auto;
    border-radius: 5px;
    width: 50%;
    max-width: 100%;
  }
  
  /* CSS for buttons */
  #clik1,
  #clik2 {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  #clik1 {
    left: 50%;
    transform: translateX(-50%);
  }
  
  #clik2 {
    right: 50%;
    transform: translateX(-50%);
  }
  
  /* CSS for responsiveness */
  @media only screen and (max-width: 600px) {
    h1, img {
      width: 100%;
    }
  
    #clik1,
    #clik2 {
      width: 115px;
      height: 65px;
      font-size: 25px;
      transform: translateX(0%);
    }
    
    #clik1 {
      left: 10px;
      right: auto;
      bottom: 60px;
      transform: translateX(0%);
    }
  
    #clik2 {
      left: auto;
      right: 10px;
      bottom: 60px;
      transform: translateX(0%);
    }
  }






 

  



